@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #9933ff 16.62%, #3366ff	 85.61%);
    
}

.cabecalho {
    display: flex;
    flex-direction: row;
    padding: 24px;
}
.cabecalho-menu-imagem {
    height: 62px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
    align-items: center;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
    padding: 50px;
}

.conteudo-um {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-um-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-um-escrito-titulo {
    font-family: 'Righteous', cursive;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 64px;
}

.conteudo-um-escrito-texto{
    font-size: 2em;
}

.conteudo-um-imagem {
    height: 400px;
    border-radius: 50%;
    
}

.conteudo-dois {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 10%;
}

.conteudo-dois-titulo {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 200;
    font-size: 44px;
}

.contato-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 50px;
    padding-left: 50px;
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 200;
    font-size: 44px;
}

.contato-formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-left: 50px;
    font-size: 20px;
}

.contato-botao:hover {
    background-color: lightskyblue;
}

.contato-botao {
    width: 120px;
    height: 50px;
    font-weight: 40;
    font-size: larger;
    background-color:  rgb(139, 28, 241);
    border-style: none;
    margin-bottom: 50px;
    margin-top: 20px;
}

.contato-endereco {
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
    padding: 50px;
}

.contato-endereco-titulo {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 200;
    font-size: 44px;
}

.contato-endereco-texto {
    font-size: 2em;
    gap: 5px;
    margin-bottom: 10px;
}